<section class="container col-md-5 mt-5">
  <!--セクションタイトル-->
  <h2 class="section-ttl row justify-content-center mb-3"><p>試合結果一覧</p></h2>
  
  <div class="row">
    <!--メンバー一覧-->
    <div class="table-responsive">
      <table class="table">
        <!--<head>-->
        <!--  <tr class="table-dark text-dark">-->
        <!--    <th>開催日</th>-->
        <!--    <th>大会名</th>-->
        <!--    <th>試合名</th>-->
        <!--    <th></th>-->
        <!--  </tr>-->
        <!--</head>-->
        <tbody>
          <% @game_results.each do |game_result| %>
          <tr>
            <td><%= game_result.event_date.strftime("%Y-%m-%d") %></td>
            <td><%= game_result.tournament_name %></td>
            <td><%= game_result.game_title %></td>
            <td><%= link_to "詳細", game_result_path(game_result.id), class: "link-item" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>
  
  
  <%= paginate @game_results %>

</section>