<section class="container col-md-5 mt-5">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span><%= @game_result.game_title %></span>
  </h3>

  <!--試合結果詳細-->
  <div class="row justify-content-center m-5">
    <%= attachment_image_tag  @game_result, :image, :fill, 300, 300, fallback: asset_path("noImage.jpg"), size:'300x300' %>
  </div>

  <!--OB詳細説明-->
  <div class="roe justify-content-center bg-light">
    <table class="table">
      <thead>
        <tr>
          <th class="col-3">項目</th>
          <th class="col-">詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr>
    			<td>大会名</td>
    			<td><%= @game_result.tournament_name %></td>
        </tr>
        <tr>
    			<td>開催日</td>
    			<td><%= @game_result.event_date.strftime("%Y-%m-%d") %></td>
        </tr>
        <tr>
    			<td>結果内容</td>
    			<td><%= simple_format(@game_result.results_details) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-end">
    <%= link_to "戻る", game_results_path, class: "btn btn-outline-secondary" %>
  </div>

</section>