<section class="container col-md-5 mt-5">
  <!--セクションタイトル-->
  <h2 class="section-ttl row mb-3">お知らせの登録</h2>

  <!--お知らせ登録フォーム-->
    <%= form_with model: @information, url: "/admins/informations/#{@information.id}", local:true do |f| %>
    
    <!--エラーメッセージ-->
    <%= render 'layouts/error_messages', model: f.object %>
  
      <!--カテゴリ-->
      <div class="row">
        <div class="form-group col-md-12">
          <%= f.radio_button :category, Information.categories.key(0) %>
          <%= f.label :category, Information.categories_i18n[:general], class: "form-label" %>

          <%= f.radio_button :category, Information.categories.key(1) %>
          <%= f.label :category, Information.categories_i18n[:announcement], class: "form-label" %>

          <%= f.radio_button :category, Information.categories.key(2) %>
          <%= f.label :category, Information.categories_i18n[:other], class: "form-label" %>
        </div>
      </div>
      <!--タイトル-->
      <div class="row">
        <div class="form-group col-md-12">
          <%= f.label :title, "タイトル", class: "form-label" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
      <!--内容-->
      <div class="row">
        <div class="form-group col-md-12">
          <%= f.label :content, "内容", class: "form-label" %>
          <%= f.text_area :content, class: "form-control", rows: "20" %>
        </div>
      </div>
      <!--写真-->
      <div class="row">
        <div class="form-group col-md-12">
          <%= f.label :image, "画像", class: "form-label" %>
          <%= f.attachment_field :image %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
        <%= f.submit "新規登録", class: "btn btn-outline-secondary m-3" %>
        </div>
      </div>

    <% end %>

</section>
