<section class="container">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span>OB詳細</span>
  </h3>

  <!--OB詳細内容-->
  <!--OB画像-->
  <div class="row justify-content-center m-5">
    <%= attachment_image_tag  @graduate, :image, :fill, 300, 300, fallback: asset_path("noImage.jpg"), size:'300x300' %>
  </div>
  <!--OB詳細説明-->
  <div class="roe justify-content-center bg-light">
    <table class="table">
      <thead>
        <tr>
          <th class="col-2"></th>
          <th class="com-10"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
    			<td>卒業年度</td>
    			<td><%= @graduate.year %></td>
        </tr>
        <tr>
    			<td>メンバー</td>
    			<td><%= simple_format(@graduate.member_list) %></td>
        </tr>
        <tr>
        <tr>
    			<td>主な進路</td>
    			<td><%= simple_format(@graduate.career_after_graduation) %></td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-end">
    <%= link_to "戻る", graduates_path, class: "btn btn-outline-secondary" %>
  </div>

</section>