<section class="container mt-3">

  <!--セクションタイトル-->
  <h2 class="section-ttl row ml-2 font-weight-bold">カテゴリ管理</h2>

  <!--カテゴリー追加フォーム-->
  <p>メンバー登録時に使用するカテゴリを追加してください。</p>

  <!--バリデーションチェックメッセージ-->
  <% if @category.errors.any? %>
    <p>カテゴリーは必須です！！</p>
  <% end %>

  <!--カテゴリー新規登録フォーム-->
  <%= form_with model: @category, url: admins_categories_path, local:true do |f| %>
    <div class="form_group row mb-3">
      <%= f.label :category_name, 'カテゴリー名', class: "form-label m-3 font-weight-bold" %>
      <%= f.text_field :category_name, class: "col-md-5 form-control m-3" %>
      <%= f.submit "新規追加", class: "btn m-3" %>
    </div>
  <% end %>

  <!-- サクセスメッセージの表示 -->
  <p id="notice" class="text-danger">
    <%= notice %>
  </p>
  
  <!--カテゴリー一覧-->
  <table class="table table-hover table-light table-striped">
    <thead>
      <tr class="table-dark text-dark">
        <th>カテゴリID</th>
        <th>カテゴリの名称</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.category_name %></td>
        <td><%= link_to "編集する", edit_admins_category_path(category.id), class: "text-dark link-secondary" %></td>
        <td><%= link_to "削除する", admins_category_path(category.id), method: :delete, "data-confirm" => "表示されているメンバーを削除しますか?", class: "text-danger" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</section>