<section class="container mt-5">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span>保護者専用お知らせ一覧</span>
  </h3>
  <!-- サクセスメッセージの表示 -->
  <p id="notice" class="text-danger">
    <%= notice %>
  </p>

  <!--お知らせ一覧-->
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>更新日</th>
          <th>タイトル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @informationforguardians.each do |informationforguardian| %>
        <tr>
          <td><%= informationforguardian.updated_at.strftime("%Y-%m-%d %H:%M")  %></td>
          <td><%= informationforguardian.title %></td>
          <td><%= link_to "詳細", guardians_information_for_guardian_path(informationforguardian.id), class: "text-dark link-secondary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%= paginate @informationforguardians %>

</section>
