<section class="container col-md-5 mt-2 p-2">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span>保護者お知らせ詳細</span>
  </h3>

  <!--保護者専用お知らせ詳細-->
  <div class="row justify-content-center m-5 p-2">
    <%= attachment_image_tag  @informationforguardian, :image, :fill, 300, 250, fallback: "noImage.jpg", size:'300x250' %>
  </div>

  <div class="row justify-content-center bg-light p-2">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-4">項目</th>
          <th class="col-8">詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr>
    			<td>カテゴリー</td>
    			<td><%= @informationforguardian.category_i18n %></td>
        </tr>
        <tr>
    			<td>タイトル</td>
    			<td><%= @informationforguardian.title %></td>
        </tr>
        <tr>
    			<td>内容</td>
    			<td><%= simple_format(@informationforguardian.content) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-between p-2">
    <div>
      <!--未読確認-->
      <% if @informationforguardian.favorited_by?(current_guardian) %>
      <p>
        <%= link_to guardians_information_for_guardian_favorites_path(@informationforguardian), method: :delete do %>
          ★<%= @informationforguardian.favorites.count %> 既読
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to guardians_information_for_guardian_favorites_path(@informationforguardian), method: :post do %>
          ☆<%=@informationforguardian.favorites.count %> 未読
        <% end %>
      </p>
      <% end %>
    </div>
    <div>
      <%= link_to "戻る", guardians_information_for_guardians_path, class: "btn m-3" %>
    </div>
  </div>

</section>