<section class="container col-md-5 mt-5">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span>スケジュール</span>
  </h3>

  <!-- サクセスメッセージの表示 -->
  <p id="notice" class="text-danger">
    <%= notice %>
  </p>

  <div class="row justify-content-center bg-light">
    <table class="table mb-0">
      <thead>
        <tr>
          <th class="col-3">項目</th>
          <th class="col-9">内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
    			<td>タイトル</td>
    			<td><%= @event.title %></td>
        </tr>
        <tr>
    			<td>開始～終了</td>
    			<td><%= @event.start_time.strftime("%Y-%m-%d %H:%M") + " " + @event.end_time.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
    			<td>内容</td>
    			<td><%= simple_format(@event.content) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-end">
    <%= link_to "戻る", events_path, class: "btn btn-outline-secondary" %>
  </div>

</section>