<h1>メンバー一覧</h1>

<div>
  <%= link_to "スタッフ・選手登録", new_admins_member_path %>
</div>

<table>
  <thead>
    <tr>
      <th>カテゴリー</th>
      <th>学年</th>
      <th>氏名</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
    <tr>
      <td><%= link_to member.category.category_name, admins_member_path(member.id) %></td>
      <td><%= member.grade_i18n %></td>
      <td><%= member.last_name + " " + member.first_name %></td>
      <td><%= link_to "編集", edit_admins_member_path(member.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
