<section class="container col-md-5 mt-5">
  
  <!--セクションタイトル-->
  <h2 class="section-ttl row mb-3 ml-2">選手・スタッフ一覧</h2>

  <!--メンバー追加画面へのリンク-->
  <div>
    <%= link_to "選手・スタッフを登録する", new_admins_member_path, class: "btn m-3" %>
  </div>
  
  <%= form_with url: import_admins_members_path do |f| %>
    <%= f.file_field :file, accept: '.csv' %>
    <%= f.submit "アップロード" %>
    
    <% if @errors.present? %>
      <% @errors.each do |error| %>
        <% error[:message].each do |message| %>
          <li><%= "#{error[:row_num]}行目 : #{message}" %></li>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
 
  <!-- サクセスメッセージの表示 -->
  <p id="notice" class="text-danger">
    <%= notice %>
  </p>

  <!--メンバー一覧-->
  <div class="table-responsive">
    <table class="table table-light table-striped">
      <thead>
        <tr class="table-dark text-dark">
          <th>氏名</th>
          <th>学年</th>
          <th>カテゴリ</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.last_name + " " + member.first_name,admins_member_path(member.id), class: "text-dark link-secondary" %></td>
          <td><%= member.grade_i18n %></td>
          <td><%= member.category.category_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @members %>
</section>