<section class="container mt-5">
  <h2 class="section-ttl row justify-content-center mb-3">お問い合わせ内容確認</h2>
  
    <%= form_with model: @contact, local: true, url: {action: :'create'}, method: :post do |f| %>

      <div class="row justify-content-center">
        <div class="form-group col-md-6">
          <%= f.label :name, '<お名前>', class: "form-label" %><br>
          <%= @contact.name %>
        </div>
      </div>    
      <div class="row justify-content-center">
        <div class="form-group col-md-6">    
          <%= f.label :email, '<メールアドレス>', class: "form-label" %><br>
          <%= @contact.email %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-md-6">       
          <%= f.label :content, '<お問い合わせ内容>', class: "form-label" %>
          <%= simple_format(@contact.content) %>
        </div>
      </div>
      <div class="row justify-content-center actions">
        <%= f.submit '送信する', class: "btn btn-outline-secondary" %>
      </div>      
      
      <!--データ受渡用-->
      <%= f.hidden_field :name, :value => @contact.name %><br>
      <%= f.hidden_field :email, :value => @contact.email %><br>
      <%= f.hidden_field :content, :value => @contact.content %><br>
    
    <% end %>
  </div>
  
</section>
