<section class="container col-md-5 mt-5">
  <!--セクションタイトル-->
  <h2 class="section-ttl row mb-3">応援グッズ一覧</h2>
  
  <!--応援グッズ追加画面へのリンク-->
  <div>
    <%= link_to "アイテム登録", new_admins_item_path, class: "btn btn-outline-secondary m-3" %>
  </div>
  
  <!-- サクセスメッセージの表示 -->
  <p id="notice" class="text-danger">
    <%= notice %>
  </p>
  
  <!--応援グッズ一覧-->
  <div class="table-responsive">
    <table class="table">
      <head>
        <tr>
          <th>イメージ</th>
          <th>アイテム</th>
          <th>販売</th>
          <th></th>
          <th></th>
        </tr>
      </head>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= attachment_image_tag item, :image, :fill, 100, 100 %></td>
          <td><%= item.name %></td>
          <td><%= item.is_active_i18n %></td>
          <td><%= link_to "詳細", admins_item_path(item.id), class: "text-dark link-secondary" %></td>
          <td><%= link_to "削除", admins_item_path(item.id), method: :delete, "data-confirm" => "削除しますか？", class: "text-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <%= paginate @items %>

</section>