<section class="container mt-5">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span>お知らせ一覧</span>
  </h3>

  <div class="main_info container">
    <div class="row justify-content-around">
      <% @informations.each do |information| %>
        <!--カードの枠-->
        <%= link_to information_path(information.id) do %>
        <article class="card mt-4 shadow" style="max-width: 20rem;">
            <!--カード本文-->
            <div class="card-body">
                <!--カードの副見出し-->
                <h7 class="card-subtitle text-dark text-decoration-none"><%= "<" + information.category_i18n + ">" %></h6>
                <!--カードの見出し-->
                <h6 class="card-title text-dark link-secondary"><%= information.title %></h4>
                <!--カードの内容文--->
                <p class="card-text"></p>
            </div>
            <!--カード下部に画像を表示-->
            
              <%= attachment_image_tag information, :image, :fill, 300, 250, fallback: asset_path("noImage.jpg"), size:'300x250', class: "card-img-button" %>
        </article>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <!--ページネーション-->
  <div class="row justify-content-center mt-5">
    <%= paginate @informations %>
  </div>

</section>