<section class="container mt-5">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span><%= @information.title %></span>
  </h3>

  <!--お知らせ詳細-->
  <div class="row justify-content-center m-5">
    <%= attachment_image_tag  @information, :image, :fill, 300, 300, fallback: asset_path("noImage.jpg"), size:'300x300' %>
  </div>

  <div class="roe justify-content-center bg-light">
    <table class="table">
      <thead>
        <tr>
          <th class="col-3">項目</th>
          <th class="col-9">詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr>
    			<td>カテゴリー</td>
    			<td><%= @information.category_i18n %></td>
        </tr>
        <tr>
    			<td>内容</td>
    			<td><%= simple_format(@information.content) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-end">
    <%= link_to "戻る", informations_path, class: "btn btn-outline-secondary" %>
  </div>


</section>