<section class="container p-5">
  <!--セクションタイトル-->
  <h3 class="row section-ttl justify-content-center mb-5">
    <span><%= @item.name %></span>
  </h3>

  <div class="row justify-content-around">
    <div class="item_info">
        <%= attachment_image_tag @item, :image, :fill, 300, 250, fallback: asset_path("noImage.jpg"), size:'300x250' %>
        <!--詳細-->
        <div class="m-3 font-weight-bold">
          <label>< 詳細 ></label>
        </div>
        <div>
          <%= @item.introduction %>
        </div>
        <!--価格-->
        <div class="m-3 font-weight-bold">
          <label>< 価格 ></label>
        </div>
        <div class="m-3">
          <%= @item.with_tax_price.to_s + "円(税込)" %>
        </div>

        <%= form_with model: @cart_item, url:"/cart_items", loacl:true do |f| %>
        <!--非表示-->
        <%= f.hidden_field :item_id, value: @item.id %>
        <!--個数-->
        <%= f.select :amount, *[1..10],include_blank: " 個数選択 ", class: 'form-select m-3' %>
        <!--カートボタン-->
        <%= f.submit 'カートに入れる', class: "btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>

</section>