<section class="container mt-5">
  <!--セクションタイトル-->
  <h2 class="section-ttl row mb-3 ml-2">注文一覧</h2>

  <!-- サクセスメッセージの表示 -->
  <p id="notice" class="text-danger">
    <%= notice %>
  </p>

  <!--注文一覧-->
  <div class="table-responsive">
    <table class="table table-light table-striped">
      <thead>
        <tr class="table-dark text-dark">
          <th>注文日時</th>
          <th>注文ステータス</th>
          <th>注文者氏名</th>
          <th>購入金額（税込）</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M"), admins_order_path(order.id) %></td>
          <td><%= order.order_status_i18n %></td>
          <td><%= order.name %></td>
          <td><%= order.total_payment.to_s(:delimited) + "円"%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @orders %>

</section>