<!DOCTYPE html>
<html>
  <head>
    <title>AoyamaFootballClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a0ac96da17.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <!--フッターコンテンツ-->
    <header class="fixed-top" style="background-color: #E67E00;">
      <div class="row justify-content-around">
        <div>
          <% if admin_signed_in? %>
            <a href="/admins", class="p-5"><img src="/assets/logo.png" alt="青山高校サッカー部"></a>
          <% elsif guardian_signed_in? %>
            <a href="/guardians", class="p-5"><img src="/assets/logo.png" alt="青山高校サッカー部"></a>
            <span class="text-light">保護者専用ページにログイン中</span>
          <% else %>
            <a href="/", class="p-5"><img src="/assets/logo.png" alt="青山高校サッカー部"></a>
          <% end %>
        </div>

        <!--ナビゲーションバー-->
        <nav class="navbar navbar-expand-md navbar-light sticky-top">
          <!--切り替えボタン-->
          <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--ナビゲーション-->
          <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="row navbar-nav">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
                </li>
              <% elsif guardian_signed_in? %>
                <li class="nav-item">
                  <%= link_to "登録情報", guardians_home_path(current_guardian), class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_guardian_session_path, method: :delete, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "サッカー部について", about_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "選手・スタッフ", members_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "OB紹介", graduates_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "お知らせ", informations_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "スケジュール", events_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "試合結果", game_results_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "応援グッズ", items_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "カート", cart_items_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to "保護者専用", guardians_information_for_guardians_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!--メインコンテンツ-->
    <body style="padding-top: 7rem">
      <%= yield %>
    </body>
    <!--フッターコンテンツ-->
    <footer class="footer mt-5 p-2" style="background-color: #E67E00; color: #fff;">
      <div class="container-fluid">
        <!--所在地-->
        <div class="row justify-content-center mt-5">
          <div class="footer-left col-md-3 col-sm-12">
            <span class="h4">AOYAMA H.S FOOTBALL CLUB</span>
            <p class="mt-3">
              学校法人 青山学院<br>
              青山高等学校 サッカー部<br>
              〒000-0000<br>
              青森県青森市青山１丁目１１番地５丁目<br>
              TEL:0100-0000-0000<br>
              FAX:0200-0000-0000<br>
            </p>
            <!--お問い合わせリンク-->
            <p class="mt-3">
              <%= link_to "お問い合わせはこちら", new_contact_path, class: 'btn bg-light text-dark' %>
            </p>
          </div>
          <!--所在地マップ-->
          <div class="footer-center col-md-3 col-sm-12 mr-3  d-none d-md-block embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7239.032838021456!2d140.88535933004871!3d38.2603930643534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a28180c510b87%3A0xb2a30b91be1ffdbc!2z5LuZ5Y-w6aeF!5e0!3m2!1sja!2sjp!4v1640513829852!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
            <!--ソーシャルリンク-->
          <div class="footer-right col-md-3 col-sm-12">
            <div class="icons">
              <a href="/"><i class="fab fa-facebook-square fa-3x text-light m-3"></i></a>
              <a href="/"><i class="fab fa-twitter-square fa-3x text-light m-3"></i></a>
              <a href="/"><i class="fab fa-instagram fa-3x text-light m-3"></i></a>
            </div>
          </div>
        </div>
        <!--Copyright-->
        <div class="row justify-content-center mt-5">
          <p>CopyRight 2021 denozo</p>
        </div>
      </div>
    </footer>
  </body>


</html>